In [6]:

import pandas as pd
import sqlalchemy

db_path = '../database/ecommerce.db'

engine = sqlalchemy.create_engine(f'sqlite:///{db_path}')

query = """
SELECT
    c.customer_unique_id,
    o.order_id,
    o.order_status,
    o.order_purchase_timestamp,
    oi.price,
    oi.freight_value
FROM
    customers c
JOIN
    orders o ON c.customer_id = o.customer_id
JOIN
    order_items oi ON o.order_id = oi.order_id
WHERE
    o.order_status = 'delivered';
"""

# Use pandas to execute the query and load the result into a DataFrame
df = pd.read_sql_query(query, engine)

# display first 5 rows
print(df.head())

# displany common info
print(df.info())

                 customer_unique_id                          order_id  \
0  7c396fd4830fd04220f754e42b4e5bff  e481f51cbdc54678b7cc49136f2d6af7
1  af07308b275d755c9edb36a90c618231  53cdb2fc8bc7dce0b6741e2150273451
2  3a653a41f6f9fc3d2a113cf8398680e8  47770eb9100c2d0c44946d9cf07ec65d
3  7c142cf63193a1473d2e66489a9ae977  949d5b44dbf5de918fe9c16f97b45f8a
4  72632f0f9dd73dfee390c9b22eb56dd6  ad21c59c0840e6cb83a9ceb5573f8159

  order_status order_purchase_timestamp   price  freight_value
0    delivered      2017-10-02 10:56:33   29.99           8.72
1    delivered      2018-07-24 20:41:37  118.70          22.76
2    delivered      2018-08-08 08:38:49  159.90          19.22
3    delivered      2017-11-18 19:28:06   45.00          27.20
4    delivered      2018-02-13 21:18:39   19.90           8.72
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110197 entries, 0 to 110196
Data columns (total 6 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   customer_unique_id        110197 non-null  object
 1   order_id                  110197 non-null  object
 2   order_status              110197 non-null  object
 3   order_purchase_timestamp  110197 non-null  object
 4   price                     110197 non-null  float64
 5   freight_value             110197 non-null  float64
dtypes: float64(2), object(4)
memory usage: 5.0+ MB
None